@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #022c22;
  --ink: #ffffff;
  --accent: #C5A059;
}

body {
  @apply bg-[#022c22] text-white font-sans;
  margin: 0;
  padding: 0;
}

@layer components {
  .btn-gold {
    @apply bg-[#C5A059] text-emerald-950 font-black uppercase tracking-widest transition-all hover:scale-105 active:scale-95;
  }
  .input-emerald {
    @apply bg-emerald-950/50 border border-emerald-800/50 text-white placeholder:text-emerald-900/50 focus:border-[#C5A059]/50 focus:bg-emerald-900/50 outline-none transition-all shadow-inner;
  }
}
